body{

background-color: #363062;

}
#container{

    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.Card{
    width: 300px;
    height: 550px;
    color:#F3F1F5;
    border: 3px solid #3F3351;
    margin: 15px auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    background: #1F1D36;
    box-shadow: 0px 0px 5px #4D4C7D;
    &-Pictures{

        

        
        background-image: url(/The-Collection/assets/Pictures/TupacShakur.jpg);
        background-size: cover;
        height: 50%;
       
        }
    &-Gender{
        padding: 5px;
        margin-left: 15px;




        .genre{
            background-color: #FFF338; 
            color:#1F1D36;
            margin-right: 7px;
            
        }
        &:nth-child(2){
        
           // background-color: gray

        }
        .Hip-hop{

            background-color: #0CECDD;

        }

        }
       
    
    &-Title{
        margin-left: 15px;
    }
    &-Artiste{
        margin-left: 15px;
    }
    &-Description{

        text-align: left;
        margin: 16px;
        
    }
    &-link{

        margin: -25px;
        margin-left: 35%;

    }
}

