.Card{
    width: 300px;
    height: 550px;
    border: 3px solid #8d0000;
    margin: 15px auto;
    left: 0;
    right: 0;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px #D4D4D4;
    &-image{
        
        background-image: url(/The-Collection/assets/Pictures/TupacShakur.jpg);
        background-size: cover;
        aspect-ratio: 50/50;
       
        }
    &-Gender{
        padding: 5px;
        
        .genre{
            background-color: yellow; 
        }
        &--1{
        
            background-color: red

        }

        }
        margin-left: 15px;
    }
    &-Title{
        margin-left: 15px;
    }
    &-Artiste{
        margin-left: 15px;
    }
    &-Description{

        text-align: center;
        margin: 5px;
    }

}
